@{
    ViewBag.Title = "About";
}
<br />
<h2>Unsere Geschichte</h2>

<img   src="~/Content/Media/MatthiasKatje.jpeg" align="left" height="500" width="400" style="margin-right:10px"/>
<p>Kaffee ist mehr als nur bitter. Es kann auch süß und sauer sein. Wenn Sie dieser Aussage zustimmen oder lernen möchten, wie man mehr als nur bitter in Ihrem Kaffee schmeckt, 
    haben Sie den richtigen Laden gefunden!</p>

<p>Matthias und Katje trafen sich in der Schule und stellten fest, dass sie sofort eine Freundschaft in Bezug auf Kaffee hatten. Nach der Schule gab es keine Fragen zu ihren nächsten Schritten: 
    andere in ihre Welt der Kaffeeverkostung einzuladen.</p>

<p>
    Bei Kirchheim Kaffee legen wir Wert auf Bohnen aus einer Hand und fairen Handel. Obwohl unsere Preise möglicherweise höher sind als in anderen Geschäften, denken Sie daran,
    dass unsere Lieferanten einen fairen Preis erhalten. Wir rösten die Bohnen im Laden und führen nur eine begrenzte Auswahl auf einmal. 
    In jeder Saison haben wir neue Angebote, daher gibt es in jeder Saison immer etwas Neues zu probieren.
</p>

<p>Wir brauen hauptsächlich über V-60, bieten unseren Kunden aber auch Chemex und Espresso an. Schauen Sie vorbei und erfahren Sie mehr. 
    Haben Sie keine Angst, Fragen zu stellen - wir lieben es, über Kaffee zu sprechen!
</p><br /><br />
