@{
    ViewBag.Title = "Contact";
}

<br />
<h2>@ViewBag.Title.</h2>


<address>
    Marktstraße 36<br />
    73230 Kirchheim unter Teck<br />
    <abbr title="Phone">Tel:</abbr>
    0172 80 2345
</address>

<address>
    <strong>Kundenservice:</strong>   <a href="mailto:info@kirchheimkaffee.de">info@kirchheimkaffee.de</a><br />
</address>