@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KIRCHHEIM KAFFEE</h1>
    <p class="lead">Seit 2017 die Nummer 1 in Kaffeespezialitäten der Region Teck.</p>
    <p class="lead">Besuchen Sie uns oder bestellen Sie bequem online!</p>
    <img src="~/Content/Media/BonanzaCoffeeBerlin.jpeg" width="100%" height="100%" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kommen Sie bei uns vorbei</h2>
        <p>
            Liebe Kunden, Aufgrund der COVID-19 Situation müssen wir bis auf weiteres geschlossen bleiben. Wir hoffen so bald wie möglich Sie wieder in unserem Laden begrüßen zu dürfen!
        </p>
        <p><a class="btn btn-default" href="~//Home/Contact">Hier finden Sie uns &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Online bestellen</h2>
        <p>Ab jetzt könnten Sie auch bequem zu Hause unserer Kaffee bestellen</p>
        <p><a class="btn btn-default" href="~//Home/Shop">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kaffeeverkostung</h2>
        <p>Wir bieten Veranstaltungen für Kunden an, die die köstliche Welt der Kaffeeverkostung erleben möchten. Reservieren Sie Ihren Platz für die nächste Veranstaltung!</p>
        <p><a class="btn btn-default" href="~//Home/Kalender">Zum Kalendar &raquo;</a></p>
    </div>
</div>