
@{
    ViewBag.Title = "Kalender";
}

<br />
<h2>Kalender</h2>

<p>Aufgrund der Covid-19 Situation sind alle Veranstaltungen bis auf weiteres abgesagt. <br /> Wir bieten Veranstaltungen wieder für Sie so schnell wie möglich.</p>